<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Primeira Página HTML Com Thymeleaf</title>
</head>
    <body>
        <p th:text="${mensagemDaController}"></p>
        <form method="post" th:action="@{/create}" th:object="${pessoa}">
            Nome: <label><input type="text" name="nome" /></label>
            <br />
            Email: <label><input type="text" name="email" /></label>
            <br />
            Usuário: <label><input type="text" name="usuario" /></label>
            <br />
            <button type="submit">Cadastrar candidato</button>
        </form>
    </body>
</html>